:root {
    --background-color: #FFFFFF;
    --header-logo-color: #4d5ae5;
    --color-2E2F42: #2E2F42;
    --color-434455: #434455;



}

body {
    background-color: var(--background-color);
    color: #434455;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

a {
    direction: none;
    text-decoration: none;
}

ul {
    margin: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* -------------------------- 
    Header section 
 -------------------------- */


.header {
    flex-shrink: 0;
}

.header-logo {
    color: var(--header-logo-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.header-logo-studio {
    color: var(--color-2E2F42);

}

.header-link {
    color: var(--color-2E2F42);
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.02em;

}

.header-link:hover {
    color: #404BBF;
    text-decoration: none ;
}

.header-link:focus {
    color: #404BBF;
    text-decoration: none ;
}

.address {
    font-style: normal;
}



.contact-link {
    color: var(--color-434455);
    transition: color 0.3s;
    font-style: normal;

    line-height: 1.5;
    letter-spacing: 0.32px;

}

.list .nav-email .contact-link:hover {
    color: #404BBF;
    text-decoration: none;
}
.list .nav-tel .contact-link:hover {
    color: #404BBF;
    text-decoration: none;
}
.list .contact-link:focus {
    color: #404BBF;
    text-decoration: none ;
    
}


/* -------------------------- 
    Main section 
 -------------------------- */

/* -- Hero section  */
.hero {
    background-color: var(--color-2E2F42);
}

.hero-title {
    color: #FFF;

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;

}

.hero-button {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    background: #4D5AE5;

    cursor: pointer;

}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/* Direction section */
.direct {}

.direct-title {


}

.direct-list {}

.direct-item {}

.direct-item-title {
    color: var(--color-2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;

}

.direct-item-p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;

}


/* Doing section */
.doing {}

.doing-title {
    color: var(--color-2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.doing-list {}

.doing-img {}


/* -- Team section -- */
.team {
    background: #F4F4FD;
}

.team-title {
    color: var(--color-2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-img {

    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.team-employee {
    color: var(--color-2E2F42);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-p {
    color: var(--color-434455);

    font-weight: 400;
    line-height: 1.5;

    letter-spacing: 0.02em;
}


/* -- Portfolio section -- */
.portfolio {}

.portfolio-title-h1 {

}

.portfolio-title {
    color: #2E2F42;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;

}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {

    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
}

.portfolio-text-h {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;
}

.portfolio-text-p {

    color: #434455;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
}


/* -- Nav portfolio section -- */
.portfolio-nav {}

.portfolio-nav-list {}

.portfolio-nav-item {}

.portfolio-nav-button {
    color: #4D5AE5;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    cursor: pointer;
}

.portfolio-nav-all-button {
    font-family: "Roboto", sans-serif;
    color: #4d5ae5;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: #F4F4FD;
    cursor: pointer;
}

.portfolio-nav-all-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-nav-all-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}


/* -------------------------- 
    Footer section 
 -------------------------- */
.footer {
    flex-shrink: 0;

    background-color: #2E2F42;
}

.footer-logo {


    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo-studio {


    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;

    line-height: 1.5;
    letter-spacing: 0.32px;

}